/* style.css */

/* Definindo cores da paleta */
:root {
    --cor-primaria: #401D10;  /* Marrom escuro */
    --cor-secundaria: #BF9B8E;  /* Bege */
    --cor-terciaria: #D9C6BF;  /* Bege claro */
    --cor-destaque: #A6261B;  /* Vermelho */
    --cor-texto: #8C2016;  /* Vermelho escuro */
    --border-radius: 8px;
}

/* Estilos personalizados para o layout */
body {
    background-color: var(--cor-secundaria);
    padding-top: 56px;
}

.container {
    max-width: 60%; /* Corrigido: removido aspas em torno do valor */
    border-radius: var(--border-radius);
}

.card {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    border: 2px solid var(--cor-destaque);
    border-radius: var(--border-radius);
    animation: fadeInUp 0.5s ease; /* Adiciona a animação fadeInUp */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-header {
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);    
}

.btn {
    background-color: var(--cor-destaque);
    color: var(--cor-terciaria);
    border: none;
    border-radius: var(--border-radius);
}

.btn:hover {
    background-color: var(--cor-texto);
}
